
.container{
    justify-content: start;

}
.search{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap:5px;
    margin: 0;
    padding: 0;
    z-index:10;

}
@media only screen and (max-width: 468px) {
  .search{
  
    margin-top:10vmax;

}
}
.dict-hidden{
    visibility: hidden;
    pointer-events: none;
    height:0;
    width:0;
    margin:0;
    padding:0;
}
.search_results{
    width:100%;
    height:fit-content;
    max-height: 50vh;
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10vmax;
}
.search_results::-webkit-scrollbar {
  display: none;
}
.search_results div{
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    font-size: 4vmax;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px 2px black;
    cursor:pointer;
    transition:0.5s;

}
.search_results div:hover{
    scale:1.2;
}
.search input{
    font-size:3vmax;
    width: 80%;
    height: fit-content;
}
.result{
    background:lightgrey;
    display:flex;
    width:80vw;
    height:60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    position:relative;
    padding:2vmax;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.type{
    width:100%;
    height: fit-content;
    text-align: centre;
    font-size: 3vmax;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:blue;
}
.word_container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
.result>*{
font-family: Arial, Helvetica, sans-serif;
font-size:3vmax;
color:blue;
}
.word_container strong{
color:red;
font-size:6vmax;
}
.word_container p{
    font-size: 6vmax;
}