
.container{
    position:fixed;
    overflow:hidden;
    width:100%;
    height:100%;
    background:grey;
    display:flex;
    flex-direction: column;
    gap:5vmax;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
}

.flashcard{
    background:salmon;
    border-radius: 2vmax;
    box-shadow: 0 0 1vmax 2px black;
    width:80vw;
    min-height:30vmax;
    font-size:5vmax;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform-style:preserve-3d;
    cursor:pointer;
    user-select:none;
    transition:0.125s;
}
.flashcard:hover{
    box-shadow: 0 0 1vmax 6px black;

}
.flipped{
animation:0.25s flip-over;
pointer-events: none;
}
@keyframes flip-over{
from{
transform:rotateY(0deg)
}
to{
transform:rotateY(180deg)
}
}
@keyframes slide-in-out{
0%{
transform:translateX(0vh);
};
50%{
transform:translateX(100vh);
};
100%{
transform:translateX(0vh);
};
}
.next{
    transform:translateY(100vh);
}
.next-button{
    font-size: 5vmax;
    font-family: Arial, Helvetica, sans-serif;
    background:white;
    height:5vmax;
    text-align: center;
    justify-content:center;
    padding:0.5vmax;
    border-radius: 1.5vmax;
    display:flex;
    cursor:pointer;
    user-select: none;
    box-shadow: 0 0 1vmax 2px black;
    width:fit-content;

}
.cover{
    background:black;
    z-index: 10;
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    font-size:6vmax;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}