.guessing-space{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items:center;
}
.guessing-space{
    font-size: 5vmax;
    font-family: Arial, Helvetica, sans-serif ;
}
.guessing-space >*{
    font-size: 5vmax;
    font-family: Arial, Helvetica, sans-serif ;
}
.answer>*{
font-size:5vmax;
font-family: Arial, Helvetica, sans-serif;
}
.button-row{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2.5vmax;
}
.button{
        font-size: 5vmax;
    font-family: Arial, Helvetica, sans-serif;
    background:white;
    height:5vmax;
    text-align: center;
    width:fit-content;
    justify-content:center;
    padding:0.5vmax;
    border-radius: 1.5vmax;
    display:flex;
    cursor:pointer;
    user-select: none;
    box-shadow: 0 0 1vmax 2px black;
}
.hidden{
    display:none;
}