
.container{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:100%;
    background:grey;
    display:flex;
    flex:none;
    flex-direction: column;
    gap:5vmax;
    justify-content: center;
    top:0;
    left:0;

}
.logo{
    font-family: "Momo Signature", cursive;
    font-size:6vmax;
    color:white;
    user-select: none;
    opacity:0;
    text-align: center;
    animation: 3s fade-in forwards;
}
@keyframes fade-in {
    from{opacity:0;}
    to{opacity:1;}
}
.about{
    font-family: "Momo Signature", cursive;
    font-size:4vmax;
    color:white;
    text-align: center;
}
.subpage-select{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
    width:80vw;
    gap:5vmax;
    animation: 3s fade-in forwards;
}
.subpage-select a{

color:black;
text-decoration:none;
}
.subpage-button{
width:30vmax;
height:20vmax;
display:flex;
justify-content: center;
font-family: monospace;
font-size:4vmax;
align-items: center;
font-size:3vmax;
background:white;
box-shadow: 0 0 1vmax 2px black;
}

.menu{
    position:fixed;
    top:2.5vmax;
    left:2.5vmax;
    display:flex;
    flex-direction: row;
    gap:0;
}
.menu-panel{
display:flex;
flex-direction: column;
min-width:10vmax;
min-height:20vmax;
background:white;
opacity:0.5;
gap:0;
}
.menu-button{
font-size: 5vmax;
user-select: none;
cursor:pointer;
background:white;
opacity:0.5;
}
.menu-panel div{
font-size: 5vmax;
font-family: monospace;
background:red;
color:white;
user-select: none;
cursor:pointer;
}
.hidden{
    display:none;
}